{% extends 'recportal/base.html' %}

{% block title %}
  <title> Recruitments Portal -- All Pitches </title>
{% endblock %}

{% block content %}
<div class="container" >
  <h3 class="center-align"> All Pitches </h3>
  <br>
  <table>

    <tr>
      <td colspan="4" class="center-align light-blue lighten-1"> Pitch Details </td>
      <td colspan="5" class="center-align light-blue lighten-2"> Task Details </td>
    </tr>

    <tr>
      <td class="light-blue lighten-1"> Candidate </td>
      <td class="light-blue lighten-1"> Senior </td>
      <td class="light-blue lighten-1"> Potential Team </td>
      <td class="light-blue lighten-1"> Approved </td>
      <td class="light-blue lighten-2"> Title </td>
      <td class="light-blue lighten-2"> Description </td>
      <td class="light-blue lighten-2"> Issuing Date </td>
      <td class="light-blue lighten-2"> Due Date </td>
      <td class="light-blue lighten-2"> Date of Completion </td>
    </tr>

    {% for pitch in pitches %}
    <tr class="light-blue lighten-4">
      <td> <a href="{% url 'recportal:profile' pitch.candidate.first_name pitch.candidate.last_name %}"> {{pitch.candidate.first_name}} {{pitch.candidate.last_name}} </a> </td>
      <td> {{pitch.senior.first_name}} {{pitch.senior.last_name}} </td>
      <td> {{pitch.team}} </td>
      <td> {{pitch.approved}} </td>
      <td> {{pitch.task.title}} </td>
      <td> {{pitch.task.description}} </td>
      <td> {{pitch.task.issuing_date}} </td>
      <td> {{pitch.task.due_date}} </td>

            {% if pitch.task.completion_date %}
              <td class="green-text">
                {{pitch.task.completion_date}} {% if pitch.task.is_overdue %}<br><p class="red-text"> (overdue) </p>{% endif %}
             </td>
            {% elif pitch.task.is_overdue %}
              <td class="red-text"> overdue </td>
            {% elif pitch.task.is_ongoing %}
              <td> ongoing </td>
            {% else %}
              <td> error, please notify the dev </td>
            {% endif %}

      </td>
    </tr>
    {% endfor %}
  </table>
</div>

<br>

{% endblock %}
