{% extends 'recportal/base.html' %}

{% block title %}
  <title> Recruitments Portal -- All Pitches </title>
{% endblock %}

{% block content %}
<div class="container" >
  <br>
  <table>

    <tr>
      <td colspan="4" class="center-align light-blue lighten-1"><b> Pitch Details </b></td>
      <td colspan="5" class="center-align light-blue lighten-2"><b> Task Details </b></td>
    </tr>

    <tr>
      <td class="light-blue lighten-1"><b> Candidate </b></td>
      <td class="light-blue lighten-1"><b> Senior </b></td>
      <td class="light-blue lighten-1"><b> Potential Team </b></td>
      <td class="light-blue lighten-1"><b> Approved </b></td>
      <td class="light-blue lighten-2"><b> Title </b></td>
      <td class="light-blue lighten-2"><b> Description </b></td>
      <td class="light-blue lighten-2"><b> Issuing Date </b></td>
      <td class="light-blue lighten-2"><b> Due Date </b></td>
      <td class="light-blue lighten-2"><b> Date of Completion </b></td>
    </tr>

    {% for pitch in pitches %}
    <tr class="light-blue lighten-4">
      <td> <a href="{% url 'recportal:profile' pitch.candidate.first_name pitch.candidate.last_name %}"> {{pitch.candidate.first_name}} {{pitch.candidate.last_name}} </a> </td>
      <td> {{pitch.senior.first_name}} {{pitch.senior.last_name}} </td>
      <td> {{pitch.team}} </td>
      <td> {{pitch.approved}} </td>
      <td> {{pitch.task.title}} </td>
      <td> {{pitch.task.description}} </td>
      <td> {{pitch.task.issuing_date}} </td>
      <td> {{pitch.task.due_date}} </td>

            {% if pitch.task.completion_date %}
              <td class="green-text">
                {{pitch.task.completion_date}} {% if pitch.task.is_overdue %}<br><p class="red-text"> (overdue) </p>{% endif %}
             </td>
            {% elif pitch.task.is_overdue %}
              <td class="red-text"> overdue </td>
            {% elif pitch.task.is_ongoing %}
              <td> ongoing </td>
            {% else %}
              <td> error, please notify the dev </td>
            {% endif %}

      </td>
    </tr>
    {% endfor %}
  </table>
</div>

<br>

{% endblock %}
