{% extends 'recportal/base.html' %}

{% block title %}
  <title> Recruitments Portal -- {{candidate.first_name}} {{candidate.last_name}} </title>
  <style>
    .no_border
    {
      margin: 0!important;;
      padding: 0!important;
      border: 0!important;
      box-shadow: none!important;
    }
    .padded
    {
      padding-right: 100px !important;
      padding-left: 100px !important;
    }
  </style>
  <script>
    function editView() {
        document.getElementById("name").innerHTML = "<b><i> First Name: </i></b><input type=\"text\" name=\"first_name\" form=\"edit_form\" value=\"{{candidate.first_name}}\" /><b><i> Last Name: </i></b><input type=\"text\" name=\"last_name\" form=\"edit_form\" value=\"{{candidate.last_name}}\" />";
        document.getElementById("about").innerHTML = "<b> About: </b> <textarea id=\"about_textar\" name=\"about\" form=\"edit_form\" />";
        document.getElementById("about_textar").defaultValue = "{{candidate.about}}";
        document.getElementById("skill1").innerHTML = "<b> Skill 1: </b> <input type=\"text\" name=\"skill1\" form=\"edit_form\" value=\"{{candidate.skill1}}\" />";
        document.getElementById("skill2").innerHTML = "<b> Skill 2: </b> <input type=\"text\" name=\"skill2\" form=\"edit_form\" value=\"{{candidate.skill2}}\" />";
        document.getElementById("ph").innerHTML = "<b> Phone Number: </b> <input type=\"number\" name=\"ph\" form=\"edit_form\" value=\"{{candidate.ph}}\" />";
        document.getElementById("email").innerHTML = "<b> Email Address: </b> <input type=\"email\" name=\"email\" form=\"edit_form\" value=\"{{candidate.email}}\" />";
        document.getElementById("edit_button").innerHTML = "<input type=\"submit\" class=\"btn-large green\" form=\"edit_form\" value=\"update\" /><br><p>(refresh page to cancel)</p>";
    }
  </script>
{% endblock %}

{% block content %}

  <br>
  <div name="info" class="container">
    <form method="post" action="{% url 'recportal:edit' candidate.first_name candidate.last_name %}" id="edit_form">
      {% csrf_token %}
    <table>

      <tr>
        <td class="center-align teal lighten-3" colspan="2" id="name"><h4><b><i>{{candidate.first_name}} {{candidate.last_name}}</i></b></h4></td>
      </tr>

      <tr>
        <td rowspan="2" width="50%" class="center-align teal lighten-5" id="about"><b> About: </b><br>{{candidate.about}}</td>
        <td class="center-align teal lighten-5" id="skill1"><b> Skill 1:</b>   {{candidate.skill1}}</td>
      </tr>

      <tr>
        <td class="center-align teal lighten-5" id="skill2"><b> Skill 2:</b>   {{candidate.skill2}}</td>
      </tr>

      <tr>
        <td class="center-align teal lighten-5" id="ph"><b> Phone Number: </b>  {{candidate.ph}} </td>
        <td class="center-align teal lighten-5" id="email"><b> Email Address: </b>  {{candidate.email}} </td>
      </tr>

    </form>
    </table>
  </div>

  <br>

  <div name="action" class="container">
    <table>
      <tr class="no_border">
        <td class="center-align"><a href="{% url 'recportal:assess' first_name=candidate.first_name last_name=candidate.last_name %}" class="btn-large hoverable"> Assess </a></td>
        <td class="center-align"><a href="{% url 'recportal:recommend' first_name=candidate.first_name last_name=candidate.last_name %}" class="btn-large hoverable"> Recommend </a></td>
        <td class="center-align" id="edit_button"><a onclick="editView()" class="btn-large hoverable"> Edit </a></td>
        {% if messages %}
          {% for message in messages %}
            <div class="center-align">
            {% if forloop.counter == 1 %}
              {% if message.tags == 'edit error' %}
                <p class="red-text"><i> {{ message }} </i></p>
              {% elif message.tags == 'edit info' %}
                <p class="green-text"><i> {{ message }} </i></p>
              {% endif %}
            {% endif %}
            </div>
          {% endfor %}
        {% endif %}
      </tr>
      {% if messages %}
        <tr class="no_border">
              <td>
            {% for message in messages %}{% if forloop.counter == 1 %}
              <div class="center-align">
                {% if message.tags == 'assessment error' %}
                  <p class="red-text"><i> {{ message }} </i></p>
                {% elif message.tags == 'assessment info' %}
                  <p class="green-text"><i> {{ message }} </i></p>
                {% endif %}
              </div>
            {% endif %}{% endfor %}
            </td>

            <td>
          {% for message in messages %}{% if forloop.counter == 1 %}
            <div class="center-align">
              {% if message.tags == 'recommend error' %}
                <p class="red-text"><i> {{ message }} </i></p>
              {% elif message.tags == 'recommend info' %}
                <p class="green-text"><i> {{ message }} </i></p>
              {% endif %}
            </div>
          {% endif %}{% endfor %}
          </td>

        </tr>
      {% endif %}
    </table>
  </div>

  <br>
  <br>

  <div name="assessments" class="padded">
    <h5> Existing Assessments: </h5>
    <table>
      <tr>
        <td> Team </td>
        <td> Task </td>
        <td> Senior </td>
        <td> Pitched </td>
      </tr>

      {% for assessment in candidate.assessments.all %}
      <tr>
        <td> {{assessment.team}} </td>
        <td> {% if assessment.task %} (ID={{assessment.task.id}}) {% endif %} {{assessment.task}} </td>
        <td> {{assessment.senior}} </td>
        <td> {{assessment.pitched}} </td>
      </tr>
      {% endfor %}
    </table>
  </div>

  <br><br>

  <div name="tasks" class="padded">
    <h5> Assigned Tasks: </h5>
    <table>
      <tr>
        <td> Title </td>
        <td> Issuing Date </td>
        <td> Due Date </td>
        <td> Completion Date </td>
        <td> Description </td>
        <td> Rubric </td>
      </tr>

      {% for assessment in candidate.assessments.all %}
      {% if assessment.task %}
      <tr>
        <td>  (ID={{assessment.task.id}}) {{assessment.task}} </td>
        <td> {{ assessment.task.issuing_date }} </td>
        <td> {{ assessment.task.due_date }}</td>
        <td> {{ assessment.task.completion_date }}</td>
        <td> {{assessment.task.description}} {% if not assessment.task.due_date %} (casual) {% endif %} </td>
        <td> {% if assessment.task.rubric %} <a href="{% url 'recportal:download' filename=assessment.task.rubric.name %}"> {{assessment.task.rubric_name}} </a> {% else %} None {% endif %} </td>
      </tr>
      {% endif %}
      {% endfor %}
    </table>
  </div>

{% endblock %}
